<!-- Data Field -->	
<div class="navbar-form navbar-left rally">
    <div id="alert-location"></div>
    <div ng-controller="rallyTree">
        <form>
            <!--            <label>Project Name:&nbsp;</label><br />
                        <select class="btn" style="border:1px solid silver;" ng-model="projectChosen" data-html="1" ng-options="project for project in projectList" ng-change="getRelease()" ng-disabled="!projectList">
                            <option value="" disabled>Choose Project</option>
                        </select> <br /><br />
            
                        <label>Release Name:&nbsp;</label><br />
                        <select class="btn" style="border:1px solid silver;" ng-model="releaseChosen" data-html="1" ng-options="release for release in releaseList" ng-change="getTreeData()" ng-disabled="!releaseList">
                            <option value="" disabled>Choose Release</option>
                        </select> <br /><br />-->

            
            <label class=" control-label input-sm">Iteration:</label>
            <div class="form-group">
                <select class="form-control input-sm" style="border:1px solid silver;" ng-model="iterationChosen" data-html="1" ng-options = "iteration for iteration in iterationList" ng-change="getTreeData()" ng-disabled="!iterationList">
                    <option value="" disabled>Choose Iteration</option>
                </select>
            </div>
           
            <label for="Search" class=" control-label input-sm">Search:</label>

            <div class="form-group">
                <input type="text"  id="treeSearch"  class="form-control input-sm" placeholder="Search">
            </div>

        </form>

        <div>
            <form>
                <label class=" control-label input-sm">Allow Drag and Drop</label>
                <input type="checkbox" ng-change="editEnable();" ng-model="enabled" ng-init="enabled = false">
                <input type="button" value="Refresh" ng-click="getTreeData()">
                <input type="button" value="Test" ng-click="broadcast()">
                <input type="button" value="Undo" ng-click="undoAction()" ng-show="undoArray.length">
            </form>
        </div>
        <div ng-if="load" class="animate-if">  Loading...<img id="spinner" class="throbber" src="assets/img/throbber.gif"></div>
        <div jstree ng-model="tree" delete-node="deleteNode()" move-flag="authentication.editRelease" delete-flag="authentication.deleteSuccess" add-flag="authentication.addNode.nodeID" edit-flag="authentication.editInfo.nodeID"  undo="undoData" move-node="moveNode(nodeInfo)" store-node="storeNode(selectInfo)"></div>

    </div>

    <div ng-include="'components/rally/partial/_popover.html'"></div>
</div>
