.boxcar-multi-arragement-tree .navbar-form{
    padding-left: 0px;
    width: 100%;
}

.boxcar-multi-arragement-tree .jstree{
    max-height: 500px;
    overflow-y:auto;
}

.boxcar-multi-arragement-tree .jstree-container-ul{
    margin-top: 15px;
}
.boxcar-multi-arragement-tree{
    min-width: 450px;
}
.boxcar-multi-arragement-tree .form-control{
    width:120px;
}
.boxcar-multi-arragement-tree  label{
    padding-right:0px;
}