/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2015, 10:25:34 AM
    Author     : Leonx
*/



/*Modal Text input box styling*/
.rally .form-control-mt {
  display: block;
  width: 100%;
  height: 22px;
  padding: 4px 12px;
  position: relative;
  font-size: 12px;
  line-height: 1.42857143;
  color: #5b6770;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*Modal drop down input styling*/
.rally .form-control-dd {
  display: block;
  width: 100%;
  height: 22px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #5b6770;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.rally .form-control-dd:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.rally .invalid {
	color: red;
}

.rally .throbber {
	margin-left: auto;
	margin-right: auto;
}

.rally .box-shadow {
  -webkit-box-shadow: 0 12px 30px darkgrey;
  box-shadow: 0 12px 30px darkgrey;
}


.rally .message {
  margin-top: 15px;
  text-align: center;
}

.rally .animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.rally .animate-if.ng-enter,
.rally .animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.rally .animate-if.ng-leave,
.rally .animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


.rally #alert-location{
	position: fixed;
	z-index: 2;
	width:auto;
	top: 5px;
	left: 5px;
}

.rally .jstree{
    max-height: 500px;
    overflow-y:auto;
}

.rally .navbar-form{
    padding:0;
    width:100%;
}

.rally{
    min-width: 450px;
    width:100%
}
.rally .form-control{
    width:120px;
}
.rally label{
    padding-right:0px;
}